#result {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    height: 50px;
    background-color: rgb(192, 255, 192);
    border: 1px solid lightcoral;
    padding: 10px;
    border-radius: 10px;
}